*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ticket{
    height: 100vh;
}


.distanza{
    top: 49.5%;
    left: 56%;
    transform: translate(-50% , 50%);
}
#distanza::after{
    content: 'km';
}

.eta{
    top: 56.5%;
    left: 54%;
    transform: translate(-50% , 50%);
}

.prezzo{
    top: 64%;
    left: 56%;
    transform: translate(-50% , 50%);
}

#prezzofinale::after{
    content: '€';
}
